<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 id="logo">Battleships</h1>
      
      <div class="statistics">
        <div class="col-md-4">
          <label>Choose your language: </label>
          <select ng-model="settings.language" class="form-control option-select">
            <option value="js">Javascript</option>
            <option value="python">Python</option>
            <!-- <option value="java">Java</option> -->
          </select>
        </div>

        <div class="col-md-4">
          <label>Choose your level: </label>
          <select ng-model="settings.selectedBot" class="form-control option-select">
            <option ng-repeat="bot in percentileBots | filter: {language: settings.language }" value="{{bot.name}}">Level {{$index + 1}}</option>
          </select>
        </div>

        <div class="col-md-2 text-center hidden-sm hidden-xs">
          <label class="control-label">
            Top Score: 
          </label>
          <span class="score">{{maxScore}}</span>
        </div>

        <div class="col-md-2 text-center hidden-sm hidden-xs">
          <label class="control-label">
            Personal Best: 
          </label>
          <span class="score">-</span>
        </div>

        <div class="clearfix"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6" ng-controller="BoardCtrl">
      <div class="grid">
        <!-- Win Overlay -->
        <div class="overlay" ng-show="hasWon()">
          <div>
            <h1>You Win!</h1>
            <p>You have sunk all the Computer's ships!</p>
            <!--
            <button class="btn btn-lg btn-info">Save Bot</button>
            -->
            <button class="btn btn-lg btn-warning" ng-click="reset()">Reset</button>
          </div>
        </div>
        
        <!-- Lose Overlay -->
        <div class="overlay" ng-show="hasLost()">
          <div>
            <h1>You Lose!</h1>
            <p>The Computer has sunk all your ships!</p>
            <!--
            <button class="btn btn-lg btn-info">Save Bot</button>
            -->
            <button class="btn btn-lg btn-warning" ng-click="reset()">Reset</button>
          </div>
        </div>

        <!-- Blank Overlay -->
        <div class="overlay initial" ng-show="settings.initialCall">
          <div>
            <h2>Enter your code to start playing!</h2>
            <p>Upon starting the game you will see your algorithm start making attacks on the computer's board! <span class="hit">RED</span> means a hit and <span class="miss">YELLOW</span> means a miss!</p>
          </div>
        </div>
        
        <!-- Error Overlay -->
        <div class="overlay" ng-show="settings.hasError">
          <div>
            <h2>Oops! An error has occured!</h2>
            <p class="error-msg">{{settings.errorMsg}}</p>
            <p>{{settings.feedback}}</p>
          </div>
        </div>

        <div class="board-row" ng-repeat="row in computerBot.board track by $index">
          <div ng-class="{hit: isHit(cell), miss: isMiss(cell)}" class="cell" ng-repeat="cell in row track by $index"></div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>

    <div class="col-md-6" ng-controller="BotCtrl">
      <!-- Code input for bot -->
      <h3>Bot Code: </h3>
      <form role="form">
        <div class="form-group">
          <div ui-codemirror="botOptions" ng-model="computerBot.solution"></div>
        </div>

        <div class="form-group">
        </div>
      </form> 
      <!-- End of code input for bot -->

      <!-- Code input for player -->
      <h3>Your Code: </h3>
      <form role="form">
        <div class="form-group">
          <div id="player-code" ga-track="click" ga-label="selected code area" ui-codemirror="playerOptions" ng-model="playerBot.solution"></div>
        </div>

        <div class="form-group">
          <button class="btn btn-block btn-success" ga-track="click" ga-label="start game" ng-click="startGame()">Run Bot</button>
        </div>
      </form>
      <!-- End of code input for player -->
    </div> 
  </div>
</div>