.overlay {
  position: absolute;
  width: 525px;
  height: 525px;
  z-index: 99;
  background-color: rgba(0,0,0,0.9);
  text-align: center;
}

.overlay div{
  margin-top: 180px;
}

.overlay div h1{
  color: rgb(197,245,255);
  font-size: 50pt;
}

.overlay div h2{
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  color: rgb(197,245,255);
  font-size: 30pt;
}

.grid {
  padding-top: 25px;
}

.grid .board-row {
  width: 525px;
}

.grid .cell {
  width: 75px;
  height: 75px;
  background-color: rgb(0,140,158);
  float: left;
  border: solid rgb(0,95,107) 5px;
}

.grid .cell.ship {
  background-color: rgb(0,223,252);
}

@media all and (max-width: 1199px) {
  .overlay {
    position: absolute;
    width: 420px;
    height: 420px;
    z-index: 99;
    background-color: rgba(0,0,0,0.9);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .overlay div{
    margin-top: 150px;
  }

  .overlay div h1{
    color: rgb(197,245,255);
    font-size: 40pt;
  }

  .grid .board-row {
    width: 420px;
  }

  .grid .cell {
    width: 60px;
    height: 60px;
    background-color: rgb(0,140,158);
    float: left;
    border: solid rgb(0,95,107) 5px;
  }
}